<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html"
      xmlns:th="http://www.thymeleaf.org">
    <div layout:fragment="content" class="mt-5">
        <form method="post" th:action="@{'/add-request'}" class="d-flex  flex-column align-items-center p-2">
            <div class="form-group col-7">
                <label >USERNAME:</label>
                <input name="userName" type="text" class="form-control mt-2" placeholder="Insert username:">
            </div>
            <div class="form-group col-7 mt-3">
                <label >COURSE:</label>
                <select class="form-control" name="course.id" >
                    <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}">
                    </option>
                </select>
            </div>
            <div class="form-group col-7 mt-3">
                <label >PHONE:</label>
                <input type="tel" name="phone" class="form-control mt-2" placeholder="Insert phone:">
            </div>
            <div class="form-group col-7 mt-3">
                <label >COMMENTARY:</label>
                <textarea class="form-control" name="commentary" placeholder="Insert commentary:"></textarea>
            </div>
            <div class="form-group col-7 mt-3 mr-auto">
                <div>
                    <button type="submit" class="btn btn-primary">ADD REQUEST</button>
                </div>
            </div>
        </form>
    </div>
</html>